.schematic ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  /* background-color: red; */
  background-color: rgba(0, 0, 0, 0.05);
}

.schematic ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.05);
}

.ramTable td {
  padding-top: 2px;
  padding-bottom: 2px;
  border-color: #ced7ce;
}

.regTable td {
  padding-top: 2px;
  padding-bottom: 2px;
  border-color: #cecece;
}

td.value {
  text-align: right;
  padding-right: 10px;
}

tr.instruction-bits td {
  border-right: 1px solid rgb(241, 241, 241);
  width: 12px;
  font-size: 6pt;
  text-align: center;
  background-color: lightgrey;
}

td.name {
  font-size: 10pt;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

/* .fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms;
} */

.irBox {
  width: 100%;
  border-radius: 5px;
  border-width: 1px;
}

.componentBox {
  width: 100%;
  max-width: 230px;
  border-radius: 5px;
  border-width: 1px;
}

.componentBox th {
  padding-left: 10px;
  padding-right: 10px;
}

.componentBox td:first-child {
  /* width: 100px; */
  text-align: left;
  padding-left: 10px;
}

.componentBox td:last-child {
  /* width: 100px; */
  text-align: right;
  padding-right: 10px;
}

.regBox {
  border-radius: 5px;
  border-width: 1px;
  overflow: auto;
  min-width: 200px;
}

.regBox td:first-child {
  text-align: right;
  padding: 0;
  width: 20%;
}

.regBox td:nth-child(2) {
  text-align: right;
  width: 60%;
}

.regBox td:last-child {
  text-align: left;
  padding: 0;
  width: 20%;
}
