.editor-wrapper {
  height: 100%;
  width: 100%;
  overflow: overlay;
  /* overflow-x: scroll; */
}
::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0);
  width: 0px;
  -webkit-border-radus: 100px;
}

:hover::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0, 0, 0, 0.61);
  -webkit-border-radius: 100px;
}

.c-pane {
  display: inline-grid;
}

.asm-pane {
  display: inline-grid;
}

.reflex-container.vertical > .reflex-splitter,
.reflex-container.vertical > .reflex-splitter:hover {
  height: 100%;
  width: 4px;
  border: none;
}

.reflex-container.vertical > .reflex-splitter:hover {
  background-color: dodgerblue;
}
